// backdrop
.backdrop-film {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.25);
}

.backdrop-film.is-hidden {
    opacity: 0;
    pointer-events: none;
}

// modal window
.modal-film {
    @media screen and(max-width:767px) {
        top: 20px;
    }
    @media screen and (min-width: 768px) {
        display: flex;
        width: 704px;
        padding-top: 40px;
        margin-top: 219px;
    }
    @media screen and (min-width: 1280px) {
        margin-top: 150px;
    }

    min-width: 280px;
    min-height: 240px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 5px;
    background-color: #FFFFFF;
}

.modal-film__image {
    @media screen and (min-width: 768px) {
        margin-top: 0;
        margin-left: 36px;
        margin-right: 68px;
        width: 264px;
        height: 373px;
    }
    @media screen and (min-width: 1280px) {
        margin-left: 12px;
        margin-right: 16px;
        margin-bottom: 40px;
        width: 375px;
        height: 478px;
    }
    margin-top: 48px;
    margin-bottom: 20px;
    width: 240px;
    height: 357px;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
}

.modal-film__title {
    margin-bottom: 20px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    color: #000000;
}

.modal-film__list-info {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #8C8C8C;
}

.modal-film__list-info-backend {
    margin-left: 39px;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
}

.modal-film__title-about {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    margin-bottom: 8px;
}

.modal-film__title-about-text {
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.66;
}

.modal-film__info-box {
    @media screen and (min-width:768px) {
        width: 264px;
        margin: 0;
    }
    @media screen and (min-width: 1280px) {
        width: 391px;
        margin-right: 12px;
    }
    width: 240px;
    margin-left: auto;
    margin-right: auto;
}
.modal-film__info-container {
    display: flex;
    margin-bottom: 20px;
}

.modal-film__list-info-item:not(:first-child) {
    margin-top: 10px;
    
}
.modal-film__votes {
    text-align: center;
    display: inline-block;
    border-radius: 5px;
    background-color: #FF6B01;
    min-width: 36px;
    // height: 16px;
    color: #FFFFFF;
    line-height: 14px;
    padding: 1px 0;
}

.modal-film__votes.votes-second {
    color: #000000;
    background-color: #F7F7F7;
}


// LINKS - BUTTONS

.modal-film__links-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.modal-film__link-item {
    max-width: 110px;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #FF6B01;
    border-radius: 5px;
    &:first-child {
        & .modal-film__link {
            
            font-size: 12px;
            color: #FFFFFF;
            padding: 6px 27px;
        }
    }
    &:last-child {
    border-radius: 5px;
    background-color: #fff;
    border: solid 1px black;
        & .modal-film__link {
            padding: 13px;
            font-size: 12px;
            color: #000;
        }
    }
}

.modal-film__link:hover, .modal-film__link:focus {
    opacity: 0.8;
}



// BUTTON CLOSE MODAL

.modal-film__btn-close {
    display: flex;
    align-items: center;
    padding: 0;
    position: absolute;
    right: 8px;
    top: 8px;
    background: #ffffff;
    border: none;
    cursor: pointer;
}

.modal-film__btn-close:focus {
    background-color: #FF6B01;
    border-radius: 35%;
    outline: none;
}

.modal-film__btn-close:hover {
    background-color: #FF6B01;
    border-radius: 35%;
}

.modal-film__btn-close:active {
    opacity: 0.66;
}
