<footer class="footer">
  <div id="footer" data-role="footer" data-position="fixed" data-corners="false">
    <div class="footer__text">
      <p class="footer__copy">&#169; 2022 | All Rights Reserved | </p>
      <span class="footer__copy">Developed with 
        <svg class="footer__icon animate__animated animate__infinite animate__heartBeat" width="14" height="13">
          <use href="./images/footer/sprite.svg#icon-heart"></use>
        </svg>
      </span>
      <a class="footer__link team-data-open" href="#">GoIT Students</a>
    </div>
</div>
  </footer>