<div class="gallery-container">
    <ul class="gallery__list js-library__list js-gallery__list">
</div>
<!-- <div class="gallery container">
    <ul class="gallery_card__list">
        <li class="gallery_card__item">
            <a href="./" class="gallery_card__link">
                <div class="gallery_thumb">
                    <img src="https://i.ibb.co/BrYLsTv/default-movie-poster-min.jpg" alt="movie cover" class="gallery_card__img">
                </div>
                <div class="gallery_info">
                    <h3 class="gallery_info__name">greyhound</h3>
                    <div class = "gallery_info__about">
                        <p class = "gallery_info__genres">Drama, Action</p>
                        <p class = "gallery_info__separator">|</p>
                        <p class = "gallery_info__year">2020</p>
                        <span class = "gallery_info__rate">8.0</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="gallery_card__item">
            <a href="./" class="gallery_card__link">
                <div class="gallery_thumb">
                    <img src="https://i.ibb.co/BrYLsTv/default-movie-poster-min.jpg" alt="movie cover" class="gallery_card__img">
                </div>
                <div class="gallery_info">
                    <h3 class="gallery_info__name">greyhound</h3>
                    <div class = "gallery_info__about">
                        <p class = "gallery_info__genres">Drama, Action</p>
                        <p class = "gallery_info__separator">|</p>
                        <p class = "gallery_info__year">2020</p>
                        <span class = "gallery_info__rate">10.0</span>
                    </div>
                </div>
            </a>
        </li>
        <li class="gallery_card__item">
            <a href="./" class="gallery_card__link">
                <div class="gallery_thumb">
                    <img src="https://i.ibb.co/BrYLsTv/default-movie-poster-min.jpg" alt="movie cover" class="gallery_card__img">
                </div>
                <div class="gallery_info">
                    <h3 class="gallery_info__name">greyhound</h3>
                    <div class = "gallery_info__about">
                        <p class = "gallery_info__genres">Drama, Action</p>
                        <p class = "gallery_info__separator">|</p>
                        <p class = "gallery_info__year">2020</p>
                        <span class = "gallery_info__rate">5.7</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div> -->
