<header class="section header-library">
  <div class="wrapper">
    <nav class="header-nav">
      <a
        class="header-nav-logo"
        href="/src/index.html"
        aria-label="logo"
        lang="en"
      >
        <svg class="header-nav-logo-icon" width="24" height="24">
          <use
            class="icon-color"
            href="/src/images/icons/sprite.svg#icon-film"
          ></use>
        </svg>
        <span class="header-nav-logo-text">Filmoteka</span>
      </a>

      <ul class="header-nav-list">
        <li class="header-nav-list-item">
          <a href="/src/index.html" class="header-nav-list-link">Home</a>
        </li>
        <li class="header-nav-list-item">
          <a
            href="/src/library.html"
            class="current header-nav-list-link library"
            >My library</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="button-group">
    <div class="header-library-container">
      <div class="header-library-center">
        <button class="header-library-btn" type="button">
          <svg class="header-library-svg-empty" width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span class="header-library-empty-text">WATCHED</span>
        </button>
      </div>
    </div>
    <div class="header-library-container">
      <div class="header-library-center">
        <button class="header-library-btn" type="button">
          <svg class="header-library-svg-empty" width="180px" height="60px" viewBox="0 0 180 60" class="border">
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
          </svg>
          <span class="header-library-empty-text">QUEUE</span>
        </button>
      </div>
    </div>
  </div>
</header>
