<div class="backdrop-login-form is-hidden" id="formaLoginCreatRegister">
  <form class="center-box" id="login-div">
    <h2 class="title-form">Login</h2>
    <input
      type="email"
      id="login-email"
      class="text-field"
      name="login-email"
      placeholder="Email"
      required
    /><br />
    <input
      type="password"
      id="login-password"
      class="text-field"
      name="login-password"
      placeholder="Password"
      required
    /><br />
    <button id="login-btn" class="btn-style">Login</button><br/>
    <button id="reg-btn" class="an-btn">Don`t have an account? REGISTER</button>
  </form>


  <form class="center-box" id="register-div">
    <h2 class="title-form">Register</h2>
    <input
      type="email"
      id="register-email"
      class="text-field"
      name="register-email"
      placeholder="Email"
      required
    /><br />
    <input
      type="password"
      id="register-password"
      class="text-field"
      name="register-password"
      placeholder="Password"
      required
    /><br />
    <button id="register-btn" class="btn-style">Register</button><br>
    <button id="log-btn" class="an-btn">have an account? LOGIN</button>
  </form>
</div>

      <div id="result-box">
        <h3 id="result"></h3><br>
        <button id="log-out-btn" class="btn-style">LOGIN OUT</button>
      </div>

      <!-- <button id="log-out-btn" class="btn-style btn-loginout is-hidden">LOGIN OUT</button> -->


    
