<div class="backdrop" id="formaLoginCreatRegister">
  <div class="center-box" id="login-div">
    <h2 class="title-form">Login</h2>
    <input
      type="email"
      id="login-email"
      class="text-field"
      name="login-email"
      placeholder="Email"
      required
    /><br />
    <input
      type="password"
      id="login-password"
      class="text-field"
      name="login-password"
      placeholder="Password"
      required
    /><br />
    <button id="login-btn" class="btn-style">Login</button><br/>
    <button id="reg-btn" class="an-btn">Don`t have an account? REGISTER</button>
  </div>


  <div class="center-box" id="register-div">
    <h2 class="title-form">Register</h2>
    <input
      type="email"
      id="register-email"
      class="text-field"
      name="register-email"
      placeholder="Email"
      required
    /><br />
    <input
      type="password"
      id="register-password"
      class="text-field"
      name="register-password"
      placeholder="Password"
      required
    /><br />
    <button id="register-btn" class="btn-style">Register</button><br>
    <button id="log-btn" class="an-btn">have an account? LOGIN</button>
  </div>

  <div id="result-box">
    <h3 id="result"></h3><br>
    <button id="log-out-btn" class="btn-style">LOGIN OUT</button>
  </div>




  <!-- <div class="form-register__box" id="container">
    <div class="form-register__container container-sign-up">
      <form
        action="#"
        class="form-register__creat-form-sign-up"
        name="form"
        id="creatFormSignUp"
      >
        <h2 class="form-register__title" id="createAccount">Create Account</h2>
        <input
          class="form-register__input"
          id="nameCreatRegister"
          type="text"
          name="name"
          placeholder="Name"
          required
        />
        <input
          class="form-register__input"
          id="emailCreatRegister"
          name="email"
          type="email"
          placeholder="Email"
          required
        />
        <input
          class="form-register__input"
          id="passwordCreatRegister"
          name="password"
          type="password"
          placeholder="Password"
          required
        />
        <div id="divRegisterError" class="errorlabel">Error message</div>
        <button type="submit" class="form-register__btn" id="singUpBtn" aria-label="sign up" name="sign up">SIGN UP</button>
      </form>
    </div>
    <div class="form-register__container container-sign-in">
      <form
        class="form-register__sign-in"
        name="form"
        id="registerForm"
      >
        <h2 class="form-register__title" id="registerAccountForm">Sign in</h2>
        <input
          class="form-register__input"
          id="emailLogin"
          name="email"
          type="email"
          placeholder="Email"
          required
        />
        <input
          class="form-register__input"
          id="passwordLogin"
          name="password"
          type="password"
          placeholder="Password"
          required
        />
        <div id="divLoginError" class="errorlabel">Error message</div>
        <a class="form-register__link" href="#">Forgot your password?</a>
        <button type="submit" class="form-register__btn" id="loginBtn">SIGN IN</button>
      </form>
    </div>
  </div> -->
</div>
