<!-- <button>Open modal window</button> -->
<div class="backdrop-film is-hidden">
  <div class="modal-film">
    <img class="modal-film__image" src="./images/modal-test-plug.jpg" alt="" />
    <div class="modal-film__info-box">
      <h2 class="modal-film__title">A FISTFUL OF LEAD</h2>
      <div class="modal-film__info-container">
        <ul class="modal-film__list-info">
          <li class="modal-film__list-info-item"><p>Vote / Votes</p></li>
          <li class="modal-film__list-info-item"><p>Popularity</p></li>
          <li class="modal-film__list-info-item"><p>Original Title</p></li>
          <li class="modal-film__list-info-item"><p>Genre</p></li>
        </ul>
        <ul class="modal-film__list-info-backend">
          <li class="modal-film__list-info-item">
            <p>
              <span class="modal-film__votes">7.3</span> /
              <span class="modal-film__votes votes-second">1260</span>
            </p>
          </li>
          <li class="modal-film__list-info-item"><p>100.2</p></li>
          <li class="modal-film__list-info-item"><p>A FISTFUL OF LEAD</p></li>
          <li class="modal-film__list-info-item"><p>Western</p></li>
        </ul>
      </div>
      <div>
        <h3 class="modal-film__title-about">ABOUT</h3>
        <p class="modal-film__title-about-text">
          Four of the West’s most infamous outlaws assemble to steal a huge
          stash of gold from the most corrupt settlement of the gold rush towns.
          But not all goes to plan one is killed and the other three escapes
          with bags of gold hide out in the abandoned gold mine where they
          happen across another gang of three – who themselves were planning to
          hit the very same bank! As tensions rise, things go from bad to worse
          as they realise the bags of gold are filled with lead... they’ve been
          double crossed – but by who and how?
        </p>
      </div>
      <ul class="modal-film__button-list">
        <li class="modal-film__btn">
          <a href=""><span class="btn-wrap-word">ADD TO</span> WATCHED</a>
        </li>
        <li class="modal-film__btn second-button">
          <a href="">ADD TO QUEUE</a>
        </li>
      </ul>
    </div>
  </div>
</div>
