<!-- <button>Open modal window</button> -->
<div class="backdrop-film">
  <div class="modal-film">
    <img class="modal-film__image" src="./images/modal-test-plug.jpg" alt="" />
    <h2 class="modal-film__title">A FISTFUL OF LEAD</h2>
    <ul>
      <li><p>Vote / Votes</p></li>
      <li><p>Popularity</p></li>
      <li><p>Original Title</p></li>
      <li><p>Genre</p></li>
    </ul>
    <div>
      <h3>ABOUT</h3>
      <p>
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
    </div>
    <ul>
      <li>fdsfdsfdsds</li>
      <li></li>
    </ul>
  </div>
</div>
