<div class="backdrop__students is-hidden" team-data>
    <div class="modal-window">
            <button type="button" class="modal-window__modal-close" team-data-close>
                <svg class="students__icon animate__animated animate__infinite animate__heartBeat" width="14" height="13">
                    <use href="./images/footer/sprite.svg#icon-heart"></use>
                  </svg>
            </button>
    <div class="team__container">

        <h2 class="team__title section-title">developed by "Boris JSoN" Students</h2>
        

        <ul class="team-list list">
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/ivanna.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Ivanna Zhelizniak</h3>
                    <p lang="en" class="team-list__team-proffesion">Team Lead</p>
                    
                    <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/IvankaZhelezniak?tab=repositories" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/artem.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name"> Artem Stepanov</h3>
                    <p lang="en" class="team-list__team-proffesion">Scrum-Master</p>
                    
                    <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/ArtemStepanov1" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/dmitriy.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Dmitriy Marchuk</h3>
                    <p lang="en" class="team-list__team-proffesion">Developer</p>
                    <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/Dmitriy-Marchuk" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/vlad.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Vladyslav Huminiuk</h3>
                    <p lang="en" class="team-list__team-proffesion">Developer</p>
                    <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/70X14" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/in/vlad-guminyuk-809233246/" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/iryna.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Iryna Bielova</h3>
                    <p lang="en" class="team-list__team-proffesion">Developer</p>
                     <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/IrynaBielova" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/in/iryna-bielova-0a41051b0" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/natalyy.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Nata Yuschenko</h3>
                    <p lang="en" class="team-list__team-proffesion">Developer</p>
                   <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/Natalia-Yuschenko" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/in/nata-yuschenko-890299153" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/nataly.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Nataly Pashchenko</h3>
                    <p lang="en" class="team-list__team-proffesion">Developer</p>
                   <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/NataPas2021" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/in/nataliia-pashchenko-frontEndDevelope" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/vasiliy.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Vasiliy Mazur</h3>
                    <p lang="en" class="team-list__team-proffesion">Developer</p>
                    <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/Vasiliyboss" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/zahar.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Zakhar Deviatko</h3>
                    <p lang="en" class="team-list__team-proffesion">Developer</p>
                   <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/ZakharDev" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/in/zakhar-d-63918122b" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/maks.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Maxim Yuvkovetskyy</h3>
                    <p lang="en" class="team-list__team-proffesion">Developer</p>
                    <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/arranger2222" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/in/maks-yuvkovetskyy-95410b136/" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/yaroslavb.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Yaroslav Boliachevets</h3>
                    <p lang="en" class="team-list__team-proffesion">Developer </p>
                    <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/YaroslavBoliachevets" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/in/yaroslavboliachevets/" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
                </li>
            <li class="team-list__item">
                <img class="team-list__image" src="./images/footer/developers/nataliia.jpg" alt="программист 1"/>
                <div class="team-list__wrap">
                    <h3 class="team-list__team-name">Nataliia Hrynchuk</h3>
                    <p lang="en" class="team-list__team-proffesion">Developer</p>
                   <ul class="social-list list">
                        <li class="social-list__item">
                            <a href="https://github.com/NataliiaHrynchuk" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="social-list__item">
                            <a href="https://www.linkedin.com/" class="social-list__link-grey" target="_blank" rel="noopener noreferrer">
                                <svg class="social-list__icon" width="20" height="20">
                                    <use href="./images/footer/sprite.svg#linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        </div>
    </div>
</div>