.backdrop {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
    overflow-y: scroll;
    transform: scale(1);
    // transition: $transition;
    z-index: 100;
}

.backdrop.is-hidden {
    transform: scale(1.1);
}