@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.container.button-empty {
  width: 200px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 350px;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.center {
  width: 180px;
  height: 60px;
  position: absolute;
}

.btn {
  width: 180px;
  height: 60px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  transition: 1s ease-in-out;
}

// .container.button-empty.empty-off {
//   display: none;
// }

.svg-empty {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #FF6B08 ;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}

.btn:hover {
  transition: 1.5s ease-in-out;
  background: #ec823b;
}

.btn:hover svg {
  stroke-dashoffset: -480;
}

.btn span {
  color: $black-color;
  font-size: 18px;
  font-weight: 100;
}
