@import '../variables';

// Backdrop

.backdrop-film {
    transition: opacity 0.3s $animation-cubic;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.7);
}

.modal-film.is-hidden {
    display: none;
}

// body scroll block
.backdrop-body-block-scroll {
    overflow: hidden;
    
}


// ::-webkit-scrollbar {
//     width: 0px;
// }


// Modal window

.backdrop-film .modal-film {
    overflow: auto;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 400px;
    min-width: 280px;
    min-height: 240px;
    max-height: 95%;
    border-radius: 5px;
    background-color: $bg-color-modal;
    &-back{
        position: absolute;
        width: 100vw;
        height: 100vh;
        z-index: -1;
        backdrop-filter: blur(10px);
    }
  
    @media screen and(max-width:767px) {

        padding-top: 48px;
        padding-bottom: 40px;
        padding-left: 20px;
        padding-right: 20px;
        margin-top: 20px;
        top: 0;
        transform: translate(-50%);
    }
    @media screen and (min-width: 768px) {
        display: inline-flex;
        min-width: 704px;
        padding-top: 40px;
        padding-bottom: 40px;
        padding-left: 36px;
        padding-right: 36px;
    }
    @media screen and (min-width: 1280px) {
        padding: 40px 40px 40px 12px  ;
        min-width: 806px;
    }
}

// Image 

.backdrop-film .modal-film__image {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    // max-height: 50px;
    min-width: 240px;
    border-radius: 5px;
    object-fit: cover;

    @media screen and (min-width: 768px) {
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 0;
        margin-right: 68px;
        width: 300px;
    }
    @media screen and (min-width: 1280px) {
        width: 375px;
    }
}

// Info

.backdrop-film .modal-film__title {
    margin-bottom: 20px;
    font-family: $main-font;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.15;
    color: $main-text-color-modal;
}

.backdrop-film .modal-film__list-info {
    font-family: $main-font;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;
    color: $second-text-color-modal;
    &-backend {
        margin-left: 39px;
        font-family: $main-font;
        font-weight: 500;
        font-size: $main-font-size;
        line-height: 1.33;
        color: $main-text-color-modal;
    }
    &-item:not(:first-child) {
        margin-top: 9px;
    }
    @media screen and (min-width:768px) {
        min-width: 70px;
    }
}

.backdrop-film .modal-film__title-about {
    margin-bottom: 8px;
    font-family: $main-font;
    font-weight: 500;
    font-size: $main-font-size;
    line-height: 1.33;
    color: $main-text-color-modal;
    &-text {
        margin-bottom: 20px;
        font-family: $main-font;
        font-weight: 500;
        font-size: $main-font-size;
        line-height: 1.66;
        color: $main-text-color-modal;
        @media screen and (min-width: 1280px) {
            margin-bottom: 40px;
        }
    }
}

.backdrop-film .modal-film__info-box {
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:768px) {
        width: 320px;
        margin: 0;
    }
    @media screen and (min-width: 1280px) {
        width: 391px;
        // margin-right: 12px;
    }
}

.backdrop-film .modal-film__info-container {
    display: flex;
    margin-bottom: 20px;
}

 .modal-film__votes {
    display: inline-block;
    padding: 1px 0;
    text-align: center;
    min-width: 36px;
    padding-left: 4px;
    padding-right: 4px;
    line-height: 14px;
    color: #FFFFFF;
    border-radius: 5px;
    background-color: $accentColor;
    &:last-child {
        color: $main-text-color-modal;
        background-color: #F7F7F7;
    }
}

// Links - Buttons

.modal-film__links-list {
    display: flex;
    @media screen and (max-width: 767px) {
        justify-content: space-between;
    }
}

.modal-film__link-item {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content:center;
    width: 150px;
    border-radius: 5px;
    transition: 250ms $animation-cubic;
    border-radius: 5px;
    border: solid 1px black;
    height: 44px;
    text-transform: uppercase;
    color: $main-text-color-modal;

    &:last-child {
        margin-left: 20px;
    }

    &:hover,
    &:focus {
        transition: 250ms $animation-cubic;
        background-color: $accentColor;
        border: solid 1px #FF6B01;
        cursor: pointer;
        color: #ffffff;
    }
    & .modal-film__link {
        padding: 13px;
        line-height: 16px;
        font-size: $main-font-size;
        color: $main-text-color-modal;
        transition: 250ms $animation-cubic;

        @media screen and (min-width:200px) {
            padding: 14px 20px 13px 20px;
        }
    }
}

.modal-film__link-item:last-child:active,
.modal-film__link-item:first-child:active,
.modal-film__btn-close:active {
    opacity: 0.8;
    transition: 100ms  $animation-cubic;
}


// Button close 

.modal-film__btn-close {
    transition: fill 250ms $animation-cubic;
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 5px;
    display: flex;
    padding: 0;
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    &:hover,
    &:focus {
        fill: #FF6B01;
        outline: none;

    }
}

.modal-film__link {
    pointer-events: none;
}

.close-modal-icon {
    padding: 4px;
}