.form-register__box {
        background-color: #fff;
            border-radius: 10px;
            // box-shadow: $shadow;
            position: relative;
            overflow: hidden;
            margin: auto;
            width: 320px;
            max-width: 100%;
            min-height: 700px;
        
            @media screen and (min-width: 425px) {
                width: 405px;
            }
        
            @media screen and (min-width: 768px) {
                width: 688px;
                min-height: 480px;
            }
        
            @media screen and (min-width: 1024px) {
                width: 768px;
            }
}