.footer{
    background-color: #F7F7F7;
    position: fixed;
    width: 100%;
    bottom: 0;
  }
 
  .footer__text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: auto;
    margin-left: auto;
    @media screen and (max-width: 767px) {
      display: block;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 100%;
    }
  }
  
  .footer__copy {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #545454;
    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 1.17;
    }
  }
  
  
  .footer__link {
    text-decoration: underline;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    color: #545454;
    @media screen and (max-width: 767px) {
      font-size: 14px;
      line-height: 1.17;
    }
  }
  
  .footer__icon {
    margin-right: 5px;
    margin-left: 5px;
    display: inline;
  }

.scrolling > footer{ 
  opacity:0; 
  transition: top 0.2s ease-in-out;
}

.footer>div {
  transform: translateX(-150%);
  animation: ani 0.5s ease-in-out forwards;
}

@keyframes ani {
  0% {transform: translateX(-150%);}
  15% {transform: translateX(5%);}
  30% {transform: translateX(-5%);}
  45% {transform: translateX(3%);}
  60% {transform: translateX(-3%);}
  75% {transform: translateX(1%);}
  85% {transform: translateX(-1%);}
  100% {transform: translateX(0);}
}