@import url('https://fonts.googleapis.com/css?family=Lato:100&display=swap');

.header-library {
  position: relative;

  padding-top: 40px;
  padding-bottom: 44px;
  background-color: rgba(0, 0, 0, 0.56);
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ),
    url('/src/images/header/header-mob.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-right: 20px;
  padding-left: 20px;
  max-height: 230px;

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px),
    screen and (min-resolution: 192dpi) and (min-width: 320px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/header-mob@2x.jpg');
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/header-tab.jpg');
    padding-right: 32px;
    padding-left: 32px;
    min-height: 216px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/header-tab@2x.jpg');
  }

  @media screen and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/header-desk.jpg');
    padding-right: 32px;
    padding-left: 32px;
    min-height: 216px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1280px),
    screen and (min-resolution: 192dpi) and (min-width: 1280px),
    screen and (min-resolution: 2dppx) and (min-width: 1280px) {
    background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.56),
        rgba(0, 0, 0, 0.56)
      ),
      url('/src/images/header/header-desk@2x.jpg');
  }
}

.icon-color {
  fill: #ffffff;
}
.icon-color:hover {
  fill: #ff6b08;
}

.header-nav {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  &-logo {
    display: flex;
    @media screen and (min-width: 768px) {
      align-items: center;
    }

    &-icon {
      @media screen and (min-width: 768px) {
        margin-right: 10px;
        fill: #ffffff;
      }
    }

    &-text {
      display: none;

      @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        text-align: center;
        font-weight: 500;
        font-size: 30px;
        line-height: 1.172;
        color: #ffffff;
        margin-right: 15px;

        transition: color 250ms cubic-bezier(0.77, 0, 0.175, 1);

        @media screen and (min-width: 1280px) {
          margin-right: 35px;
        }

        &:hover,
        &:focus {
          color: #ff6b08;
        }
      }
    }
  }
}

.header-nav-list {
  margin-left: auto;

  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 320px) {
    font-size: 12px;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }

  .library {
    @media screen and (min-width: 320px) {
      margin-left: 40px;
    }
  }

  @media screen and (min-width: 768px) {
    display: flex;

    &-item {
      display: flex;
      align-items: center;
      text-align: center;
      text-transform: uppercase;

      font-weight: 500;
      font-size: 12px;
      line-height: 1.167;
      margin-right: 10px;

      @media screen and (min-width: 1280px) {
        margin-right: 15px;
      }
    }

    &-link {
      position: relative;

      @media screen and (max-width: 767px) {
        display: block;
        color: #000000;
      }

      display: block;
      color: #ffffff;
      transition: color 250ms cubic-bezier(0.77, 0, 0.175, 1);

      &:hover,
      &:focus {
        color: #ff6b08;
      }
    }
  }
}

.header-nav-list .header-nav-list-item {
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;

    &:not(:last-child) {
      margin-top: 10px;
    }
  }
}

.header-nav-list-link {
  @media screen and (max-width: 767px) {
    color: #ffffff;
    text-transform: uppercase;
  }
}

.current.header-nav-list-link {
  @media screen and (max-width: 767px) {
    position: relative;
  }

  &::after {
    position: absolute;
    opacity: 1;

    content: '';
    display: block;
    left: 0;
    bottom: -3px;
    width: 100%;
    height: 3px;
    background-color: #ff6b08;
    margin-top: 8px;
  }
}

// .wrapper {
//   position: relative;

//   justify-content: space-between;
//   align-items: baseline;
// }

.button-group {
  display: flex;
  justify-content: center;
  margin-top: 40px;  
}

.header-library-container {
  display: flex;
  justify-content: center;
  align-items: center;
  &:not(:last-child) {
    margin-right: 20px;
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      margin-right: 32px;
      
    }
  }
  @media screen and (min-width: 1280px) {
    margin-right: 16px;
  }
}

// .header-library-center {
//   width: 180px;
//   height: 60px;
//   position: absolute;
// }

.header-library-btn {
  width: 129px;
  height: 44px;
  cursor: pointer;
  background: transparent;
  border-radius: 5px;
  border: 1px solid #fff;
  outline: none;
  transition: 1s ease-in-out;
    &:hover,
    &:focus{
      transition: 1.5s ease-in-out;
      background: #FF6B08;
      border: 1px solid #b44a03;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
      width: 152px;
    }
    @media screen and (min-width: 1280px) {
      width: 147px;
      height: 42px;
    } 
}

.header-library-svg-empty {
  position: absolute;
  left: 0;
  top: 0;
  fill: none;
  stroke: #FF6B08 ;
  stroke-dasharray: 150 480;
  stroke-dashoffset: 150;
  transition: 1s ease-in-out;
}


.header-library-btn:hover svg {
  stroke-dashoffset: -480;
}

.header-library-btn span {
  color: #ffffff;
  font-size: 12px;
  font-weight: 100;
}

