
.theme {
    position:absolute;
    display: flex;
    justify-content:center;
    @media screen and (max-width: 319px) {
        top: 180px;
        left:45%;
    }
    @media screen and (min-width: 320px) and (max-width: 767px) {
        top: 150px;
        left:46%;
    }
    @media screen and (min-width: 768px) and (max-width: 1279px) {
        top: 80px;
        right:60px;
    }
    @media screen and (min-width: 1280px)  {
        top: 80px;
        right:68px;
    }
}

.theme-toggle {
    --size: 2rem;
    
    background: none;
    border: none;
    padding: 0;
    inline-size: var(--size);
    block-size: var(--size);
    aspect-ratio: 1;
    border-radius: 50%;
    cursor: pointer;
    touch-action: manipulation;
    -webkit-tap-highlight-color: transparent;
    outline-offset: 5px;
    & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke-linecap: round;
    }
}

.lightToggleIcon {
    position: relative;
    fill:#ff6b01;
}
.darkToggleIcon {
    position: relative;
    fill:#ff6b01;
}

.invisible {
    display: none;
}

.dark {   
    transition: 0.3s; 
    background-color: #505050;
    color: white;
}

.darkBtn {
    background-color: #333333;
}

body {
    transition: 0.3s;
}

// .darkText {
//     color: white;
// }