.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 100;
    transition: 7s all;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
}

.done {
    opacity: 0;
    visibility: hidden;
}

.loader {
    width: 75px;
    height: 75px;
    border: 10px solid #000000;
    border-top:100ex;
    border-bottom: 0ex;
    border-left-color: #FF6B08;
    border-radius: 50%;
    animation: 0.5s spin linear infinite;
}

@keyframes spin {

    100% {
            transform: rotate(360deg);
        }
    }